<div th:fragment="nav-panel(client)">
<ul class="nav nav-tabs justify-content-center bg-dark">
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/subs/{login}(login =${client.login})}">Абонементы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Скидки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Услуги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Тренеры</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled text-info" tabindex="-1" aria-disabled="true" th:text="'Здравствуйте, ' + ${client.login}"></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/">Выйти из аккаунта</a>
    </li>
</ul>

</div>