<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{fragments/nav-panel::nav-panel(${client})}"></div>


<div class="container mt-4">
<h1>Список абонементов</h1>

    <div th:if="${subs.isEmpty()}">
        <h2>Абонементов на данный момент нет!</h2>
    </div>

<div th:unless="${subs.isEmpty()}" th:each="sub : ${subs}" class="row">
    <div class="col p-3">
        <div th:replace="~{fragments/sub-card::sub-card(${sub}, ${client.login})}"></div>
    </div>
</div>

</div>
<!--<div>-->
<!--    <nobr>-->
<!--        <a class="btn" th:href="@{/subs/add}">Добавить абонемент</a> |-->
<!--        <a class="btn" th:href="@{/verify}">Назад к меню</a>-->
<!--    </nobr>-->
<!--</div>-->
<!--<br/><br/>-->
<!--<div>-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>Логин клиента</th>-->
<!--            <th>Дата начала</th>-->
<!--            <th>Дата окончания</th>-->
<!--            <th>Цена</th>-->
<!--            <th>Закрыт</th>-->
<!--            <th>Действия</th>-->
<!--        </tr>-->
<!--        <tr th:each ="sub : ${subs}">-->
<!--            <td th:utext="${sub.clientLogin}">...</td>-->
<!--            <td th:utext="${sub.startDate}">...</td>-->
<!--            <td th:utext="${sub.endDate}">...</td>-->
<!--            <td th:utext="${sub.price}">...</td>-->
<!--            <td th:utext="${sub.closed}">...</td>-->
<!--            <td th:unless="${sub.closed}"><a th:href="@{/subs/{subId}/edit(subId=${sub.id})}" class="edit">Редактировать</a></td>-->
<!--            <td th:if="${sub.closed}"><a th:href="@{/subs/{subId}/delete(subId=${sub.id})}">Удалить</a></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--<h1>Главная страница</h1>-->
<!--<a th:href="@{/subs}">Клиенты</a>-->
<!--<br/>-->
<!--<a th:href="@{/subs}">Абонементы</a>-->
<!--<br/>-->
<!--<a th:href="@{/subs}">Скидки</a>-->
<!--<br/>-->
<!--<a th:href="@{/subs}">Тренеры</a>-->
<!--<br/>-->
<!--<a th:href="@{/subs}">Услуги</a>-->
<!--<br/>-->
<!--<a th:href="@{/clients}">Отчёты</a>-->
<!--<br/>-->
</body>
</html>