<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Главная страница</h1>
<a th:href="@{/subs}">Клиенты</a>
<br/>
<a th:href="@{/subs}">Абонементы</a>
<br/>
<a th:href="@{/subs}">Скидки</a>
<br/>
<a th:href="@{/subs}">Тренеры</a>
<br/>
<a th:href="@{/subs}">Услуги</a>
<br/>
<a th:href="@{/clients}">Отчёты</a>
<br/>
</body>
</html>