<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="rus">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" th:action="@{/register}" th:object="${client}" method="POST" novalidate>
            <input id="login" type="text" placeholder="Логин*" th:field="*{login}" required/>
            <input id="password" type="password" placeholder="Пароль*" th:field="*{password}" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"/>
            <input id="firstName" type="text" placeholder="Имя*" th:field="*{firstName}" required/>
            <input id="lastName" type="text" placeholder="Фамилия*" th:field="*{lastName}" required/>
            <input type="text" placeholder="Отчество" th:field="*{middleName}"/>
            <input type="text" placeholder="Дата рождения (yyyy-mm-dd)*" th:field="*{birthdate}"/>
            <input type="text" placeholder="Телефон*" pattern="\+?[0-9\s\-\(\)]+" th:field="*{phone}"/>
            <button type="submit">Зарегистрироваться</button>
            <p class="message">Уже зарегистрированы? <a href="/login">Войдите в аккаунт</a></p>
        </form>
    </div>
</div>

</body>
</html>