<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Расписание</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/nav-panel::nav-panel(${client}, ${isAdmin}, ${isAuth})}"></div>


    <main class="container main mt-4">
        <h1>Расписание занятий</h1>

        <div th:unless="${isAdmin}">
            <a class="btn" href="/schedule/all">Меню услуг</a>

            <div th:if="${schedules.isEmpty()}">
                <h2>Расписаний нет!</h2>
            </div>

            <div th:unless="${schedules.isEmpty()}" th:each="schedule : ${schedules}" class="row">
                <div class="col p-3">
                    <div th:replace="~{fragments/schedule-card::schedule-card(${schedule})}"></div>
                </div>
            </div>
        </div>

        <div th:if="${isAdmin}">
            <div>
                <table class="table">
                    <tr>
                        <th scope="col">Название услуги</th>
                        <th scope="col">Начало занятий</th>
                        <th scope="col">Конец занятий</th>
                        <th scope="col">Тренер</th>
                        <th scope="col">День недели</th>
                        <th scope="col">Группа</th>
                    </tr>
                    <tr th:each ="schedule : ${schedules}">
                        <td th:utext="${schedule.service.name}">...</td>
                        <td th:utext="${schedule.startTime}">...</td>
                        <td th:utext="${schedule.endTime}">...</td>
                        <td th:utext="${schedule.coach} ? ${schedule.coach.firstName} + ' ' + ${schedule.coach.middleName} + ' ' + ${schedule.coach.secondName} : 'Тренера нет'">...</td>
                        <td th:utext="${schedule.weekday}">...</td>
                        <td th:utext="${schedule.groupNumber}">...</td>
                    </tr>
                </table>
            </div>
        </div>

    </main>

    <div th:replace="fragments/footer">
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>