<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Contact List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Список абонементов</h1>

<div>
  <nobr>
    <a class="btn" th:href="@{/subs/add}">Добавить абонемент</a> |
    <a class="btn" th:href="@{/verify}">Назад к меню</a>
  </nobr>
</div>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Логин клиента</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Цена</th>
      <th>Закрыт</th>
      <th>Действия</th>
    </tr>
    <tr th:each ="sub : ${subs}">
      <td th:utext="${sub.clientLogin}">...</td>
      <td th:utext="${sub.startDate}">...</td>
      <td th:utext="${sub.endDate}">...</td>
      <td th:utext="${sub.price}">...</td>
      <td th:utext="${sub.closed}">...</td>
      <td th:unless="${sub.closed}"><a th:href="@{/subs/{subId}/edit(subId=${sub.id})}" class="edit">Редактировать</a></td>
      <td th:if="${sub.closed}"><a th:href="@{/subs/{subId}/delete(subId=${sub.id})}">Удалить</a></td>
    </tr>
  </table>
</div>

</body>
</html>